  *{

  //  font-family: 'Indie Flower', cursive;

//    font-family: 'Open Sans', sans-serif;
  }

	.navbar-brand {
	  padding: 0px;
	  margin-bottom: 10px;
	}
	.navbar-brand>img {
	  height: 130%;
	  padding: 15px;
	  width: auto;
	}

	.footer{
		background-color: red;
	}

	.direttivo{
		font-size: smaller;
	}

	.sfondofablab {
		background-color: #0199b1;
	}

	 .sfondofablab img{
	 	width: 130px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: white;

	}

	.navbar-default .navbar-nav>li>a {
		color: white;
	}

	.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-size: 200%;
}

.navbar .social-icons {
    display: inline-block;
    margin-left: 20px;
}

.navbar .social-icons a {
    padding: 0;
    display: inline-block;
}

.navbar .social-icons img {
    width: 35px;
    margin: 0;
}

  .dropdown-menu {
  font-size: 100%;

  }

.navbar .navbar-collapse {
  text-align: center;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

}

@media (max-width: 550px) {
     .big-container {
         display: none;
     }
 }
 @media (min-width: 550px) {
     .small-container {
         display: none;
     }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
 }
 .responsive-iframe-container iframe,
 .vresponsive-iframe-container object,
 .vresponsive-iframe-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
