---
layout: default
title: Fablab Torino
---

    <div class="container">
      <div class="row">
        {% for post in site.categories.communities %}
          <div class="col-sm-4">
              <div class="media">
                  <!--<a href="{{site.baseurl}}{{ post.url }}">-->
                    {% if post.copertina contains 'http' %}
                    <img class="img-responsive" src="{{ post.copertina}}">
                    {% else %}
                    <img class="img-responsive" src="{{site.baseurl}}/img/{{ post.copertina }}">
                    {% endif %}
                  <!--</a>-->
                <div class="media-body">
                  <!--<h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>-->
                  <h4>{{ post.title }}</h4>

                  <p>
                    <h5><b>{{ post.quando }}</b></h5>
                    {% if post.facebook != nil %}
                    <h5><b><a href="{{site.baseurl}}{{ post.facebook }}">Metti un Like su Facebook</a></b></h5>
                    {% endif %}

                    {% if post.telegram != nil %}
                    <h5><b><a href="{{ post.telegram }}">Entra nel Gruppo Telegram!</a></b></h5>
                    {% endif %}
                    {% if post.sito != nil %}
                    <h5><b><a href="{{ post.telegram }}">Sito Ufficiale</a></b></h5>
                    {% endif %}


                    <p>
                  {{ post.meta }}
                  </p>

                </div>
              </div>
              <hr>
          </div>
        {% endfor %}
      </div>
    </div>
