--- layout: default title: Fablab Torino ---

<div class="container">
  <div class="row">
      <div class="col-sm-8">

    <div class="row">
      <div class="col-sm-6">
        <h4>INCONTRARSI</h4>
        <p class="lead">L'Associazione Fablab Torino offre a tutti i suoi associati l'opportunità di apprendere processi e tecnologie legate alla prototipazione rapida, IoT e molto altro.</p>
      </div>
      <div class="col-sm-6">
        <h4>SPERIMENTARE</h4>
        <p class="lead"> ILorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>


      <div class="row" align="center">
        <h1 style="font-size: 50px;font-weight: 800;color: #d7d7d7">Meglio fatto che perfetto!</h1>
      </div>


      <div class="col-sm-4">
        {% include sidebar-projects.html %}

        <h3>Newsletter</h3>


      </div>
    </div>
    <hr>



    <div class="row">
      <div class="col-sm-4">
        <h3>Macchinari</h3>
        <p>Macchina a taglio laser, frese a controllo numerico, stampanti 3d, banco di elettronica.</p>
      </div>
      <div class="col-sm-4">
        <h3>Spazi</h3>
        <p>Aula workshop, banco di elettronica, scrivania di lavoro, spazio relax.</p>
      </div>
      <div class="col-sm-4">
        <h3>Condivisione</h3>
        <p>coprogettazione, Communites, eventi, workshop, serate</p>
      </div>
    </div>
    <hr>
    <div class="row">
      {% for post in site.categories.evidenza%}
      <div class="col-sm-3">
        <a href="">
			    	<img src="{{ post.immagine }}" class="img-responsive" width="300px">
			    	</a>
        <p><strong>{{ post.title }}</strong><br> {{ post.quando }}
        </p>
      </div>
      {% endfor %}
    </div>

    <hr>

    <div class="well">
      <div class="row" align="center">
        <div class="col-md-6 col-md-offset-3">
          <h1>Iscriviti al Fablab</h1>
          <h4 class="lead">Usa i macchinari, partecipa ai corsi gratuiti, frequenta liberamente il laboratorio ed entra a far parte della nostra community.</h4>
          </p>
          <a class="btn btn-primary" href="{{site.baseurl}}/iscriviti/" role="button">Iscriviti</a>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-4">
        <h3 class="text-center">Appuntamenti</h3>
        <button type="button" class="btn btn-primary btn-xs btn-block">Scopri le communites</button>
        <h4 class="lead">Vieni a conoscere i gruppi di lavoro e unisciti ai loro progetti.</h4> {% for post in site.categories.appuntamenti%}
        <div class="media">
          <div class="media-left">
            <a href="{{ post.url }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>
              {{ post.excerpt }}
            </p>
          </div>
        </div>
        <hr> {% endfor %}

      </div>
      <div class="col-sm-4">
        <h3 class="text-center">Eventi</h3>
        <button type="button" class="btn btn-primary btn-xs btn-block">Scopri tutti gli eventi</button>
        <h4 class="lead">Vieni a scoprire il magico mondo dei makers.</h4> {% for post in site.categories.eventi%}
        <div class="media">
          <div class="media-left">
            <a href="{{ post.url }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
          </div>
          <div class="media-body">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.quando }} {{ post.excerpt }}
            </p>
          </div>
        </div>
        <hr> {% endfor %}

      </div>
      <div class="col-md-4">
        <h3 class="text-center">Corsi</h3>
        <button type="button" class="btn btn-primary btn-xs btn-block">Scopri tutti i corsi</button>
        <h4 class="lead">Corsi base gratuti per gli iscritti e workshop.</h4> {% for post in site.categories.workshop%}
        <div class="media">
          <div class="media-left">
            <a href="{{ post.iscrizione }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
          </div>
          <div class="media-body">
            <h4><a href="{{ post.iscrizione }}">{{ post.title }}</a></h4>
            <p>{{ post.quando }}
            </p>
          </div>
        </div>
        <hr> {% endfor %} {% for post in site.categories.corsibase%}
        <div class="media">
          <div class="media-left">
            <a href="{{ post.iscrizione }}">
					      <img class="media-object" src="{{ post.immagine }}" width="150px" height="150px">
					    </a>
          </div>
          <div class="media-body">
            <h4><a href="{{ post.iscrizione }}">{{ post.title }}</a></h4>
            <p>{{ post.quando }}
            </p>
          </div>
        </div>
        <hr> {% endfor %}
      </div>
    </div>
  </div>

  <div class="well" style="background-color: #00979D">
    <div class="container">
      <img src="img/partners.png" class="img-responsive" width="550px">
    </div>
  </div>
</div>
