---
layout: default
title: Fablab Torino
---

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-6">
          <h4>INCONTRARSI</h4>
          <p class="lead">
            L'<b><a href="{{site.baseurl}}/associazione/">Associazione Fablab Torino</a></b>
             offre a tutti i suoi associati l'opportunità di apprendere processi e tecnologie
             legate alla prototipazione rapida, IoT e molto altro.
             <a href="{{site.baseurl}}/iscriviti/"><b>Iscriviti!</b></a>
          </p>
        </div>
        <div class="col-sm-6">
          <h4>SPERIMENTARE</h4>
          <p class="lead">
            Con il supporto di <b><a href="http://officine.cc">Officine Innesto</a></b>
            e l'ospitalità di <a href="http://www.toolboxoffice.it/"><b>Toolbox Coworking</b></a>
            gli spazi di <b><a href="https://goo.gl/maps/142bfqKsBcL2">Via Egeo 16</b></a>
            sono aperti dal <b> martedì al sabato, dalle 16:00 alle 20:00.</b>
            <br>Per i NON tesserati, il Fablab è visitabile durante gli Open Day,
            che si tengono tutti i mercoledì dalle 19:00 alle 20:00
            (per una migliore gestione delle visite ti invitiamo a scriverci a
            <a href="mailto:info@fablabtorino.org" target="_top">info@fablabtorino.org</a>)</p>
        </div>
      </div>


      <!-- div class="row" align="center">
        <h1 style="font-size: 50px;font-weight: 800;color: #d7d7d7">Meglio fatto che perfetto!</h1>
      </div -->
      <!-- per ogni contenuti va creato un row qui che si apre e chiude -->
      {% for post in site.categories.blog %}

      <div class="col-md-12" align="center">
          <div class="media">
              <a href="{{site.baseurl}}{{ post.url }}">
                {% if post.copertina contains 'http' %}
                <img src="{{ post.copertina}}"  align="middle" style="max-height: 100%; max-width: 100%;">
                {% else %}
                <img src="{{site.baseurl}}/img/blog/{{ post.copertina }}"  align="middle" style="max-height: 100%; max-width: 100%;">
                {% endif %}
              </a>
            <div class="media-body">
              <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
              <p>
                {{post.meta}}
              </p>
            <p>
          {{post.date | date_to_long_string}}

          {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %}
                <li><a href="#{{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %}
                <li><a href="#{{ tag[0] }}">{{ tag[0] }}</a></li>
              {% endfor %}
            {% endif %}
          {% assign tags_list = nil %}

              </p>

            </div>
          </div>
          <hr>
      </div>

      {% endfor %}


      <!-- si chiude qui! -->
    </div>
  </div>

  <hr>
</div>
