---
layout: default
title: Fablab Torino
---

    <div class="container">
      <div class="row">
        <div class="col-sm-12">


        <h2 style="font-size: 50px; font-weight: 800; color:#708181; ">Vuoi imparare ad usare le nostre macchine?</h4>
        <h4>Al Fablab Torino si organizziamo workshop gratuiti per gli associati per spiegare tutto quello che c'è da sapere su come si utilizzano le macchine al taglio laser, stampanti 3D, Frese a controllo numerico o vinyl cutter presenti in laboratorio.
        Per Poter usare o prenotare le macchine é necessario essere tesserati al Fablab. Non lo sei? <a href="{{site.baseurl}}/iscriviti/">Iscriviti!</a></h4>
      </div>
      <div class="col-sm-4">
      </div>

      <div class="col-sm-12" align="center">
        <h1 style="font-size: 50px;font-weight: 800;color: #d7d7d7">Le nostre macchine, amale come le amiamo noi!</h1>
      </div>

        {% for post in site.categories.tools %}
          <div class="col-sm-4">
              <div class="media">
                  <a href="{{site.baseurl}}{{ post.url }}">
                    {% if post.copertina contains 'http' %}
                    <img class="img-responsive" src="{{ post.copertina}}">
                    {% else %}
                    <img class="img-responsive" src="{{site.baseurl}}/img/{{ post.copertina }}">
                    {% endif %}
                  </a>
                <div class="media-body">
                  <!--<h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>-->
                  <b><h4>{{ post.title }}</h4></b>
                  <b><p> Property:</b> {{post.property}}</p>
                  <b><p> Year: {{post.Anno}} </b> </p>
                  <b><p> Use: {{post.Uso}} </b> </p>
                  <b><p> Working Area:</b> {{post.Work-Area}}  </p>
                  <b><p> Costo:</b> {{ post.Costo }} </p>
                  <!-- a class="btn btn-primary"  href="{{site.baseurl}}/laser" role="button">Prenota!</a -->

                </div>
              </div>
              <hr>
          </div>
        {% endfor %}
      </div>


    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-8">

    <h4>Per la prenotazione delle macchine al Fablab Torino usiamo un sistema molto rudimentale che stiamo cercando di migliorare: uniamo ad un <a href="https://calendar.google.com/calendar/embed?src=fablabtorino.org_lkr8c93gkp9pni3g32ahid5eoc%40group.calendar.google.com&ctz=Europe/Rome"><b>Google Calendar</b></a> <a href="http://bit.ly/book_Matilda"><b>un Google Form</b></a>.

    <br><br>Ti chiediamo, se sei un assiduo frequentatore del Fablab di <a href="https://accounts.google.com/signin/v2/sl/pwd?service=cl&passive=1209600&osid=1&continue=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Frender%3Fcid%3Dfablabtorino.org_lkr8c93gkp9pni3g32ahid5eoc%40group.calendar.google.com&followup=https%3A%2F%2Fcalendar.google.com%2Fcalendar&scc=1&authuser=0&flowName=GlifWebSignIn&flowEntry=ServiceLogin">abbonarti al calendario </a> per identificare i momenti più opportuni per prenotare la macchina. Ad una prenotazione doppia avrà la precedenza chi ha prenotato prima. <p>

    <br><br>
      Ovviamente l'utilizzo delle macchine é destinato solo agli <a href="{{site.baseurl}}/iscriviti/">utenti iscritti</a> che hanno frequentato almeno un <a href="{{site.baseurl}}/corsi/">corso di avvicinamento alla macchina Hello World!</a></h4>
    </div>
    </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" >
        <div class="responsive-iframe-container big-container">

    <iframe src="https://calendar.google.com/calendar/embed?src=fablabtorino.org_lkr8c93gkp9pni3g32ahid5eoc%40group.calendar.google.com&ctz=Europe%2FRome" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>

      </div>

      <div class="responsive-iframe-container small-container">
        <iframe src="https://calendar.google.com/calendar/embed?title=Machines%20%40%20Fablab%20Torino&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=DAY&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23FFFFFF&amp;ctz=Europe%2FRome"
          style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> </div>

        </div>

      <div class = "col-md-12"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe31XDryJdOEeMI-w6W6NmETMNirKajgV-kYYD9ZrXJ9L2O-g/viewform?embedded=true"
      width="800" height="1800" frameborder="0" marginheight="0" marginwidth="0">Caricamento in corso...</iframe>      </div>
    </div>
