---
layout: default
title: Fablab Torino
---

    <div class="container">
      <div class="row">
        <h1>Progetti</h1>
        {% for post in site.categories.progetti %}
          <div class="col-md-4">
              <div class="media">
                  <a href="{{site.baseurl}}{{ post.url }}">
                    {% if post.copertina contains 'http' %}
                    <img src="{{ post.copertina}}" style="max-height: 200px; max-width: 100%;">
                    {% else %}
                    <img src="{{site.baseurl}}/img/{{ post.copertina }}" style="max-height: 200px; max-width: 100%;">
                    {% endif %}
                  </a>
                <div class="media-body">
                  <h4><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h4>
                  <p>
                  {{ post.meta }}
                  </p>

                </div>
              </div>
              <hr>
          </div>
        {% endfor %}
      </div>
    </div>
