<div class="container" align="center">
      <hr>
      <footer>
            <p>
            <br>
            <strong>FABLAB TORINO</strong>
            </p>
            <p>
            <a href="mailto:info@fablabtorino.org"> Mail </a>
            &#8226
            <a href="https://www.facebook.com/fablabtorino"> Facebook </a>
            &#8226
            <a href="https://twitter.com/Fablabtorino"> Twitter </a>
            &#8226
            <a href="https://github.com/FablabTorino">Github</a>
            &#8226
            <a href="https://www.fablabs.io/labs/fablabtorino"> Fablabs.io</a>
            </p>
            <p>
            via Egeo 16, 10134 Torino<br>
            C.F. 97754320014<br>
            </p>
      </footer>
</div>
