    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fablab Torino</title>
    <meta name="description" content="Fablab Torino">

    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/fablab.css" rel="stylesheet">



    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
