<!-- Site Sidebar -->
<aside class="site-sidebar">
  <h4 class="text-center">Newsletter</h4>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
      <form action="//fablabtorino.us5.list-manage.com/subscribe/post?u=bbd5781f8c72a1885774d98c0&amp;id=2ee26e2206" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
          <!--
        <label for="mce-EMAIL">Iscriviti</label>
        -->
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_bbd5781f8c72a1885774d98c0_2ee26e2206" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>


  </div>

  <div class="widget">
    <header class="widget-header">
      <h4 class="widget-title">Facebook</h4>
    </header>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-like"
      data-href="https://www.facebook.com/fablabtorino/"
      data-layout="standard"
      data-action="like"
      data-width="300px"
      data-show-faces="true">
    </div>
  </div>
    <div class="widget about-widget">
      <header class="widget-header">
        <h4 class="widget-title">Twitter</h4>
      </header>

      <a class="twitter-timeline" href="https://twitter.com/Fablabtorino" data-tweet-limit="5">Tweets by @Fablabtorino</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>





</aside>
