<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body>

  {% include menu.html %}

  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">

    <h4>Per la prenotazione delle macchine al Fablab Torino usiamo un sistema molto rudimentale che stiamo cercando di migliorare: uniamo ad un <a href="https://calendar.google.com/calendar/embed?src=fablabtorino.org_lkr8c93gkp9pni3g32ahid5eoc%40group.calendar.google.com&ctz=Europe/Rome"><b>Google Calendar</b></a>, <a href="http://bit.ly/book_Matilda"><b>un Google Form</b></a>.
      <p><p> Chiediamo all'assiduo frequentatore del Fablab di abbonarsi al calendario per identificare i momenti più opportuni per prenotare la macchina.

      <p><p> Ad una prenotazione doppia avrà la precedenza chi ha prenotato prima. <p>

      Ovviamente l'utilizzo delle macchine é destinato solo agli <a href="{{site.baseurl}}/iscriviti/">utenti iscritti</a> che hanno frequentato almeno un <a href="{{site.baseurl}}/corsi/">corso di avvicinamento alla macchina Hello World!</a></h4>
    </div>
  </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" >
        <div class="responsive-iframe-container big-container">

      <iframe src="https://calendar.google.com/calendar/embed?title=Machines%20%40%20Fablab%20Torino&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23FFFFFF&amp;ctz=Europe%2FRome"
        style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> </div>

      </div>

      <div class="responsive-iframe-container small-container">
        <iframe src="https://calendar.google.com/calendar/embed?title=Machines%20%40%20Fablab%20Torino&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=DAY&amp;height=600&amp;wkst=2&amp;hl=it&amp;bgcolor=%23FFFFFF&amp;ctz=Europe%2FRome"
          style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe> </div>

        </div>

      <div class = "col-md-12"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe31XDryJdOEeMI-w6W6NmETMNirKajgV-kYYD9ZrXJ9L2O-g/viewform?embedded=true"
      width="800" height="1800" frameborder="0" marginheight="0" marginwidth="0">Caricamento in corso...</iframe>      </div>
    </div>

  </main>

  {% include footer.html %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>

</html>
