<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>

    {% include menu.html %}

    <main>
      <div class="container">
        <div class="col-md-12">
          {% if post.copertina contains 'http' %}
          <img src="{{ post.copertina}}"  align="middle" style="max-height: 100%; max-width: 100%;">
          {% else %}
          <img src="{{site.baseurl}}/img/blog/{{ post.copertina }}"  align="middle" style="max-height: 100%; max-width: 100%;">
          {% endif %}
        </a>
      </div>
          <div class="col-md-8 col-md-offset-2">
            {{content}}
          </div>
        </div>

    </main>

    {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </body>
</html>
